@page
@model TheInventory.Pages.AssemblyModel
@{
    ViewData["Title"] = "Assembly";
}

<!--Assembly Container-->
<div class="container-fluid vh-100">

    @{
        if(Model.Message != "")
        {
            if(Model.MessageSuccess)
            {
                <div class="container-fluid alert alert-success alert-dismissible fade show text-center" role="alert">
                    <i class="fa fa-check px-2" aria-hidden="true"></i>
                    <strong>Success!</strong>@Model.Message
                        <button type="button" class="btn" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span> 
                        </button>
                </div>
            }
            else
            {
                <div class="container-fluid alert alert-warning alert-dismissible fade show text-center" role="alert">
                    <i class="fa fa-exclamation-triangle px-2" aria-hidden="true"></i>
                    <strong>Error! </strong>@Model.Message
                        <button type="button" class="btn" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span> 
                        </button>
                </div>
            }
        }
    }

      <!--Top Navbar-->
    <nav class="navbar navbar-expand-lg sticky-top rounded-3 mb-3">
        <img class="opacity-25" src="images/car-manufacturing-white.png" alt="Vehicle manufacturing" width="32" style="margin:10px">
        <h4 class="opacity-50">@ViewData["Title"]</h4>
    </nav>

    <!--Vehicles Recipes-->
    <div class="row mt-1">    
        <!-- Craftable Recipes-->
        <div class="col-xl col-md-12 pb-3">
            <h3>Assemble Vehicles</h3>
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center sticky-top">
                    Craftable Parts
                </div>

                <div class="card-body scroll-card"> 
                    @foreach(var vehicle in Model.allVehicles)
                    {
                    <div class="card m-2 shadow-sm hover-effect @(vehicle.IsCraftable())">
                        <div class="row g-0">
                            
                            <div class="col-md-2 align-self-center">
                                <img class="p-3" src="/images/vehicle/car-white.png" alt="car" style="max-width: 100px">
                            </div>
                            <div class="col-md-2 align-self-center">
                                <div class="row align-content-center">
                                    <h5>@vehicle.Name</h5>
                                    <h5 style="float:right;">@vehicle.Count</h5>
                                    @*<p class="card-title">@vehicle.Vehicletype</p>*@
                                    <p class="card-title" style="color: #ffa01c">@vehicle.VehicleCategory</p>
                                </div>
                            </div>
                            <div class="col-md-2 align-self-center text-center">
                                <div class="row align-content-center">
                                    <h1 style="color: #69f0ae">@vehicle.Count</h1>
                                </div>
                            </div>

                            <div class="col-md-6 align-self-center float-end p-2">
                                @foreach(var ingredient in vehicle.Ingredients)
                                {
                                    if(ingredient != "")
                                    {
                                      
                                        <span class="badge mb-1">@ingredient</span>
                                    }
                                }
                                @{
                                    if(vehicle.IsCraftable())
                                    {
                                        <form method="post" asp-page-handler="craft" asp-route-name="@vehicle.Name" asp-route-count="@vehicle.Count">
                                            @{
                                                foreach(var ingredient in vehicle.Ingredients)
                                                {
                                                    <input type="hidden" name="ingredient[]" value="@ingredient"/>
                                                }
                                            }
                                            <div class="input-group">
                                                <input required type="password" class="form-control" name="verify" placeholder="Verification Code">
                                                <button class="btn btn-cta" type="submit" value="Craft Recipe">Craft</button>
                                            </div>
                                        </form>
                                    }
                                }
                            </div> 
                        </div>
                    </div>
                    }
                </div>   
            </div>
        </div>

        <!--Parts-->
        <div class="col-xl col-md-12 pb-3">
        <h3>Update Parts</h3>
            <div class="card rounded-3 shadow-lg scroll-card">
                <div class="card-header text-center sticky-top">
                    Parts
                </div>
                <div class="card-body">
                    @foreach(var part in Model.allParts)
                    {
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="/images/part/motor-white.png" class="p-3" alt="part" style="max-width: 110px">
                            </div>
                            <div class="col-md-2">
                                <div class="card-body">
                                    <h5 class="card-title">@part.Name</h5>
                                    <p class="card-text">@part.PartType</p>
                                </div>
                            </div>
                            <div class="col-md-2 align-self-center counter text-center">
                                <div class="col align-content-center">
                                    <h1 style="color: #69f0ae">@part.Count</h1>
                                </div>
                            </div>
                            <div class="col-md-6 align-self-center counter">
                                <div class="float-end p-2">
                                    <form method="post" asp-page-handler="update">
                                    <div class="input-group">
                                        <input class="form-controller count-box rounded-3" name="count" value="@part.Count" type="number" min="0" step="1"/>
                                        <input type="hidden" name="name" value="@part.Name" />
                                        <button class="btn btn-cta">Update</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    <!--Parts-->
    </div>
    <!--Vehicle Recipes-->
</div>