@page
@model TheInventory.Pages.InventoryModel
@{
    ViewData["Title"] = "Inventory";
    var MaterialTotal = 330;
    var PartTotal = 128;
    var VehicleTotal = 32;
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3">
      <img class="rounded-lg-3" src="images/pallet.png" alt="Inventory stock" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>

<!--Inventory Container-->
<div class="container-fluid">
    <!--Iventory Stats Section-->
    <div class="row rounded-3 mt-5">
        <div class="col-xl col-md-4 pb-3">
        <!--Card: Materials-->
            <div class="card h-100 rounded-3 shadow-lg">
                <div class="row h-100 no-gutters">
                    <div class="col-6 p-3">
                        <h5 class="text-center">Materials</h5>
                        <h2 class="text-center">@MaterialTotal</h2>
                    </div>
                    <div class="col d-flex rounded-3">
                        <div class="mx-auto align-self-center">
                            <img class="rounded-lg-3" src="images/raw-materials.png" alt="Inventory stock" width="64" style="margin:10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 pb-3">
        <!--Card: Parts-->
        <div class="card h-100 rounded-3 shadow-lg">
                <div class="row h-100 no-gutters">
                    <div class="col-6 p-3">
                        <h5 class="text-center">Parts</h5>
                        <h2 class="text-center">@PartTotal</h2>
                        
                    </div>
                    <div class="col d-flex rounded-3">
                        <div class="mx-auto align-self-center">
                            
                            <img class="rounded-lg-3" src="images/motor.png" alt="Inventory stock" width="64" style="margin:10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 pb-3">
        <!--Card: Vehicles-->
        <div class="card h-100 rounded-3 shadow-lg">
                <div class="row h-100 no-gutters">
                    <div class="col-6 p-3">
                        <h5 class="text-center">Vehicles</h5>
                        <h2 class="text-center">@VehicleTotal</h2>
                            
                    </div>
                    <div class="col d-flex rounded-3">
                        <div class="mx-auto align-self-center">
                            
                            <img class="rounded-lg-3" src="images/car.png" alt="Inventory stock" width="64">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Iventory Charts Section-->
    <div class="row mt-1">
            
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Materials
                </div>
                <div class="card-body chart-canvas">
                        <canvas id="bar"></canvas>
                </div>  
            </div>
        </div>
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Parts
                </div>
                <div class="card-body chart-canvas">
                    <canvas id="doughnut"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Vehicles
                </div>
                <div class="card-body chart-canvas"> 
                    <canvas id="pie"></canvas>
                </div>
            </div>
        </div>
    </div>

<!--Inventory Items Section-->
    <div class="row mt-1">
        <!--Raw Materials-->
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Materials
                </div>
                <div class="card-body scroll-card">
                    <!--Foreach Loop-->
                    @foreach(var material in Model.allMaterials)
                    {
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/raw-materials.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-4 align-self-center">  
                                <h5 class="card-title">@material.Name</h5>
                                <p class="card-text">@material.MaterialType</p>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <p class="card-text">@material.Count</p>   
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <form method="post" asp-page-handler="update">
                                <div class="input-group">
                                    <input class="form-control" name="count" value="@material.Count" type="number" min="0" step="1"/>
                                    <input type="hidden" name="name" value="@material.Name"/>
                                    <button class="btn btn-sm btn-outline-success">Update</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    }
                    <!--Foreach Loop-->
                </div>  
            </div>
        </div>
        <!--Vehicle Parts-->
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Vehicle Parts
                </div>
                <div class="card-body scroll-card">
                    <!--Foreach Loop-->
                    @foreach(var part in Model.allParts)
                    {
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/motor.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-4 align-self-center">  
                                <h5 class="card-title">@part.Name</h5>
                                <p class="card-text">@part.PartType</p>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <p class="card-text">@part.Count</p>   
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <form method="post" asp-page-handler="update">
                                <div class="input-group">
                                    <input class="form-control" name="count" value="@part.Count" type="number" min="0" step="1"/>
                                    <input type="hidden" name="name" value="@part.Name"/>
                                    <button class="btn btn-sm btn-outline-success">Update</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    }
                    <!--Foreach Loop-->
                    <!--2-->
                    @*<div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/motor.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Electric Motor</h5>
                                    <p class="card-text">Parts</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <div class="input-group">
                                    <input type="number" class="form-control">
                                    <button class="btn btn-sm btn-outline-success" type="button" id="button-update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>  
            </div>
        </div>
        <!--Electric Vehicle Models-->
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Electric Vehicles
                </div>
                <div class="card-body scroll-card">
                    <!--1-->
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/car.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Model S</h5>
                                    <p class="card-text">Electric Vehicle</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <div class="input-group">
                                    <input type="number" class="form-control">
                                    <button class="btn btn-sm btn-outline-success" type="button" id="button-update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--2-->
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/car.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Model 3</h5>
                                    <p class="card-text">Electric Vehicle</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <div class="input-group">
                                    <input type="number" class="form-control">
                                    <button class="btn btn-sm btn-outline-success" type="button" id="button-update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--3-->
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/car.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Model X</h5>
                                    <p class="card-text">Electric Vehicle</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <div class="input-group">
                                    <input type="number" class="form-control">
                                    <button class="btn btn-sm btn-outline-success" type="button" id="button-update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--4-->
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/car.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Model Y</h5>
                                    <p class="card-text">Electric Vehicle</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <div class="input-group">
                                    <input type="number" class="form-control">
                                    <button class="btn btn-sm btn-outline-success" type="button" id="button-update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--5-->
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/car.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Truck</h5>
                                    <p class="card-text">Electric Vehicle</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <div class="input-group">
                                    <input type="number" class="form-control">
                                    <button class="btn btn-sm btn-outline-success" type="button" id="button-update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--6-->
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/car.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Model S</h5>
                                    <p class="card-text">Electric Vehicle</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <div class="input-group">
                                    <input type="number" class="form-control">
                                    <button class="btn btn-sm btn-outline-success" type="button" id="button-update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--7-->
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/car.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Model S</h5>
                                    <p class="card-text">Electric Vehicle</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center counter">
                                <div class="input-group">
                                    <input type="number" class="form-control">
                                    <button class="btn btn-sm btn-outline-success" type="button" id="button-update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script type="text/javascript">

    //Bar Chart
    var barchart = document.getElementById('bar').getContext('2d');
    var mybarchart = new Chart(barchart, {
        type: 'bar',
        data: {
            labels: ['Steel', 'Copper', 'Iron', 'Glass', 'Rubber', 'Aluminum'],
            datasets: [{
                label: 'Bar Chart',
                data: [100, 200, 300, 100, 250, 150],
                backgroundColor: '#dee2e6',
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            indexAxis: 'y',
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
    //Pie Chart
    var piechart = document.getElementById('pie').getContext('2d');
    var mypiechart = new Chart(piechart, {
        type: 'pie',
        data: {
            labels: ['Model S', 'Model 3', 'Model X', 'Model Y'],
            datasets: [{
                label: 'Pie Chart',
                data: [100, 150, 300, 50, 25],
                backgroundColor: '#dee2e6'
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })

    //Doughnut Chart
    var xValues = ["Engine", "Wheels", "Battery", "Windows", "Body"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = "#dee2e6";

    new Chart("doughnut", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        
        title: {
          display: true,
          text: "Vehicle Parts in stock."
        }
      }
    });
</script>
