@page
@model TheInventory.Pages.InventoryModel
@{
    ViewData["Title"] = "Inventory";
    
}

<!--

var MaterialTotal = 134;
    var PartTotal = 128;
    var VehicleTotal = 32;
-->

<!--Inventory Container-->
<div class="container-fluid">
   <!--Top Navbar-->
  <nav class="navbar navbar-expand-lg sticky-top rounded-3 mb-3">
      <img class="opacity-25" src="images/pallet-white.png" alt="Inventory stock" width="32" style="margin:10px;">
    <h4 class="opacity-50">@ViewData["Title"]</h4>
  </nav>

    <!--Iventory Stats Section-->
    <div class="row rounded-3">
        <div class="col-xl col-md-4 pb-3">
        <!--Card: Materials-->
            <div class="card h-100 rounded-3 shadow-lg">
                <div class="row h-100 no-gutters">
                    <div class="col-6 p-3">
                        <h5 class="text-center">Materials</h5>       
                            <h2 class="text-center" style="color: #ffa01c">@Model.MaterialTotal</h2>
                    </div>
                    <div class="col d-flex rounded-3">
                        <div class="mx-auto align-self-center">
                            <img class="rounded-lg-3" src="images/raw-materials-white.png" alt="Inventory stock" width="64" style="margin:10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 pb-3">
        <!--Card: Parts-->
        <div class="card h-100 rounded-3 shadow-lg">
                <div class="row h-100 no-gutters">
                    <div class="col-6 p-3">
                        <h5 class="text-center">Parts</h5>
                        <h2 class="text-center" style="color: #ffa01c">@Model.PartTotal</h2>
                        
                    </div>
                    <div class="col d-flex rounded-3">
                        <div class="mx-auto align-self-center">
                            
                            <img class="rounded-lg-3" src="images/motor-white.png" alt="Inventory stock" width="64" style="margin:10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 pb-3">
        <!--Card: Vehicles-->
        <div class="card h-100 rounded-3 shadow-lg">
                <div class="row h-100 no-gutters">
                    <div class="col-6 p-3">
                        <h5 class="text-center">Vehicles</h5>
                        <h2 class="text-center" style="color: #ffa01c">@Model.VehicleTotal</h2>
                            
                    </div>
                    <div class="col d-flex rounded-3">
                        <div class="mx-auto align-self-center">
                            
                            <img class="rounded-lg-3" src="images/car-white.png" alt="Inventory stock" width="64">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Iventory Charts Section-->
    <div class="row mt-1">
            
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Materials
                </div>
                <div class="card-body chart-canvas">
                        <canvas id="bar"></canvas>
                </div>  
            </div>
        </div>
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Parts
                </div>
                <div class="card-body chart-canvas">
                    <canvas id="doughnut"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Vehicles
                </div>
                <div class="card-body chart-canvas"> 
                    <canvas id="pie"></canvas>
                </div>
            </div>
        </div>
    </div>

<!--Inventory Items Section-->
    <div class="row mt-1">
        <!--Raw Materials-->
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center sticky-top">
                    Materials
                </div>
                <div class="card-body scroll-card">
                    <!--Foreach Loop-->
                    @foreach(var material in Model.allMaterials)
                    {
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">

                            <div class="col-md-4 align-self-center">
                                <img src="@material.ImageUrl" class="img-fluid rounded-start" alt="..." width="48" style="margin:10px">
                            </div>
                            <div class="col-md-6 align-self-center"> 
                                
                                <div class="row align-content-center">
                                    <h5 class="card-title">@material.Name</h5>
                                    <p class="card-text" style="color: #ffa01c">@material.MaterialType</p>
                                </div>                  
                            </div>
                            <div class="col-md-2 align-self-center float-end">
                                <h2 class="card-text" style="color: #69f0ae">@material.Count</h2>   
                            </div>
                        </div>
                    </div>
                    }
                    <!--Foreach Loop-->
                </div>  
            </div>
        </div>
        <!--Vehicle Parts-->
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center sticky-top">
                    Vehicle Parts
                </div>
                <div class="card-body scroll-card">
                    <!--Foreach Loop-->
                    @foreach(var part in Model.allParts)
                    {
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-4 align-self-center">
                                <img src="@part.ImageUrl" class="img-fluid rounded-start" alt="..." width="48" style="margin:10px">
                            </div>
                            <div class="col-md-6 align-self-center">  
                                <div class="row align-content-center">
                                    <h5 class="card-title">@part.Name</h5>
                                    @*<p class="card-text" >@part.PartType</p>*@
                                    <p class="card-text" style="color: #ffa01c" >@part.PartCategory</p>
                                </div>                  
                            </div>
                            <div class="col-md-2 align-self-center float-end">
                                <h2 class="card-text " style="color: #69f0ae">@part.Count</h2>   
                            </div>
                        </div>
                    </div>
                    }
                </div>  
            </div>
        </div>

        <!--Electric Vehicle Models-->
        <div class="col-xl col-md-4 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center sticky-top">
                    Electric Vehicles
                </div>
                <div class="card-body scroll-card">
                    <!--Foreach Loop-->
                    @foreach(var vehicle in Model.allVehicles)
                    {
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-4 align-self-center">
                                <img src="@vehicle.ImageUrl" class="img-fluid rounded-start" alt="" width="48" style="margin:10px">
                            </div>
                            <div class="col-md-6 align-self-center">  
                                <div class="row align-content-center">
                                    <h5 class="card-title">@vehicle.Name</h5>
                                    <p class="card-text" style="color: #ffa01c">@vehicle.VehicleCategory</p>
                                </div>                  
                            </div>
                            <div class="col-md-2 align-self-center float-end">
                                <h2 class="card-text text-secondary" style="color: #69f0ae">@vehicle.Count</h2>   
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script type="text/javascript">

    Chart.defaults.font.size = 10;
    Chart.defaults.font.family = "'Archivo', sans-serif;";


    /*-------------------------------------------------------------------------------------
    //Bar Chart : Materials
    -------------------------------------------------------------------------------------*/
    var materialLable = [];
    var materialCount = []

    @foreach(var material in Model.allMaterials)
    {
        <text>materialLable.push("@material.Name.ToString()");</text>

        <text>materialCount.push(@material.Count);</text>
    }
    console.log(materialLable);
    console.log(materialCount);

    //Bar Chart
    var barchart = document.getElementById('bar').getContext('2d');
    var mybarchart = new Chart(barchart, {
        type: 'bar',
        data: { 
            labels: materialLable,
            datasets: [{
                label: 'Material Quantity',
                data: materialCount,
                backgroundColor: [
          '#D8F3DC',
          '#B7E4C7',
          '#95D5B2',
          '#74C69D',
          '#52B788',
          '#40916C',
          '#2D6A4F',
          '#1B4332'
    ],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            indexAxis: 'x',
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })

    /*-------------------------------------------------------------------------------------
    //Doughnut Chart : Vehicles
    -------------------------------------------------------------------------------------*/
    var partLable = [];
    var partCount = []

    @foreach(var part in Model.allParts)
    {
        <text>partLable.push("@part.Name.ToString()");</text>

        <text>partCount.push(@part.Count);</text>
    }
    console.log(partLable);
    console.log(partCount);
    //Doughnut Chart
    var xValues = partLable;
    var yValues = partCount;
    var barColors = [
        '#D8F3DC',
          '#B7E4C7',
          '#95D5B2',
          '#74C69D',
          '#52B788',
          '#40916C',
          '#2D6A4F',
          '#1B4332'
    ];

    new Chart("doughnut", {
          type: "doughnut",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
        
            title: {
              display: true,
              text: "Parts Quantity"
            }
          }
        }
    );


    /*-------------------------------------------------------------------------------------
    //Pie Chart : Vehicles
    -------------------------------------------------------------------------------------*/
    var vehicleLable = [];
    var vehicleCount = []

    @foreach(var vehicle in Model.allVehicles)
    {
        <text>vehicleLable.push("@vehicle.Name.ToString()");</text>

        <text>vehicleCount.push(@vehicle.Count);</text>
    }
    console.log(vehicleLable);
    console.log(vehicleCount);

    //Pie Chart
    var piechart = document.getElementById('pie').getContext('2d');
    var mypiechart = new Chart(piechart, {
        type: 'pie',
        data: {
            labels: vehicleLable,
            datasets: [{
                label: 'Pie Chart',
                data: vehicleCount,
                backgroundColor: [
            '#D8F3DC',
          '#B7E4C7',
          '#95D5B2',
          '#74C69D',
          '#52B788',
          '#40916C',
          '#2D6A4F',
          '#1B4332'
    ],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    }
    );
</script>
