 @page
@model TheInventory.Pages.ManufacturingModel
@{
    ViewData["Title"] = "Manufacturing";
}


<!--Manufacturing Container-->
<div class="container-fluid vh-100">

    @{
        if(Model.Message != "")
        {
            if(Model.MessageSuccess)
            {
                <div class="container-fluid alert alert-success alert-dismissible fade show text-center" role="alert">
                    <i class="fa fa-check px-2" aria-hidden="true"></i>
                    <strong>Success!</strong>@Model.Message
                        <button type="button" class="btn" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span> 
                        </button>
                </div>
            }
            else
            {
                <div class="container-fluid alert alert-warning alert-dismissible fade show text-center" role="alert">
                    <i class="fa fa-exclamation-triangle px-2" aria-hidden="true"></i>
                    <strong>Error! </strong>@Model.Message
                        <button type="button" class="btn" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span> 
                        </button>
                </div>
            }
        }
    }

    <!--Top Navbar-->
  <nav class="navbar navbar-expand-lg sticky-top rounded-3 mb-3">
      <img class="opacity-25" src="images/factory-machine-white.png" alt="Manufacturing" width="32" style="margin:10px">
    <h4 class="opacity-50">@ViewData["Title"]</h4>
  </nav>

    <!--Parts Recipes-->
    <div class="row mt-1">    
        <!-- Craftable Recipes-->
        <div class="col-xl col-md-12 pb-3">
            <h3>Craft Parts with available materials</h3>
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center sticky-top">
                    Craftable Parts
                </div>
                <div class="card-body scroll-card">
                    <!--Foreach Loop-->
                    @foreach(var part in Model.allParts)
                    {
                    <div class="card m-2 shadow-sm hover-effect @(part.IsCraftable() ? "boreder-success" : "bg-light")">
                        <div class="row g-0">
                            
                            <div class="col-md-4 align-self-center">
                                <img class="" src="@part.Name" alt="Card image" style="width:100px">
                            </div>

                            <div class="col-md-4 align-self-center">

                                <div class="row align-content-center">
                                    <h4>@part.Name</h4>
                                    <h5 style="float:right;">@part.Count</h5>
                                    <p class="card-title">@part.Description</p>
                                    <p class="card-title">@part.PartType</p>
                                </div>
                            </div>

                            <div class="col-md-4 align-self-center float-end p-2">
                                @foreach(var ingredient in part.Ingredients)
                                {
                                    if(ingredient != "")
                                    {
                                      
                                        <span class="badge mb-3">@ingredient</span>
                                    }
                                }
                                @{
                                    if(part.IsCraftable())
                                    {
                                        <form method="post" asp-page-handler="craft" asp-route-name="@part.Name" asp-route-count="@part.Count">
                                            @{
                                                foreach(var ingredient in part.Ingredients)
                                                {
                                                    <input type="hidden" name="ingredient[]" value="@ingredient"/>
                                                }
                                            }
                                            <div class="input-group">
                                                <input required type="password" class="form-control" name="verify" placeholder="Verification Code">
                                                <button class="btn btn-cta" type="submit" value="Craft Recipe">Craft</button>
                                            </div>
                                        </form>
                                    }
                                }
                            </div> 
                        </div>
                    </div>
                    }
                </div>   
            </div>
        </div>

        <!--Materials-->
        <div class="col-xl col-md-12 pb-3">
        <h3>Update Material Stock Count</h3>
            <div class="card rounded-3 shadow-lg scroll-card">
                <div class="card-header text-center sticky-top">
                    Materials
                </div>
                <div class="card-body">
                    @foreach(var material in Model.allMaterials)
                    {
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="@material.ImageUrl" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@material.Name</h5>
                                    <p class="card-text">@material.MaterialType</p>
                                </div>
                            </div>
                            <div class="col-md-2 align-self-center counter">
                                <div class="">
                                    <h3>@material.Count</h3>
                                </div>
                            </div>
                            <form method="post" asp-page-handler="update">
                            <div class="input-group">
                                <input class="form-controller" name="count" value="@material.Count" type="number" min="0" step="1"/>
                                <input type="hidden" name="name" value="@material.Name" />
                                <button class="btn btn-cta">Update</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    <!--Materials-->
    </div>
    <!--Parts Recipes-->
</div><!--Manufacturing Container-->
