 @page
@model TheInventory.Pages.ManufacturingModel
@{
    ViewData["Title"] = "Manufacturing";
}

@{
    if(Model.Message != "")
    {
        if(Model.MessageSuccess)
        {
            <div class="alert alert-sm alert-success">@Model.Message</div>
        }
        else
        {
            <div class="alert alert-danger">@Model.Message</div>
        }
    }
}

<!--Manufacturing Container-->
<div class="container-fluid">

    <!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3 mb-3">
      <img class="rounded-lg-3" src="images/factory-machine-white.png" alt="Manufacturing" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>

    <!--Parts Recipes-->
    <div class="row mt-1">    
        <div class="col-xl col-md-12 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Craftable Parts (Crafting)
                </div>

                <div class="card-body">
                    @foreach(var recipe in Model.allRecipes)
                    {
                    <div class="col-4">
                        <div class="card shadow-lg mb-3 @(recipe.IsCraftable() ? "boreder-success" : "bg-light")">
                            <img class="card-img-top" src="@recipe.Name" alt="Card image">
                            <div class="card-body">
                                <h3>@recipe.Name</h3>
                                <h2 style="float:right;">@recipe.Count</h2>
                                @*<h5 class="card-title">@recipe.Description</h5>*@
                                <h6 class="card-title">@recipe.RecipeType</h6>

                                <p>Ingredients</p>
                                @foreach(var ingredient in recipe.Ingredients)
                                {
                                    if(ingredient != "")
                                    {
                                      
                                        <span class="badge mb-3">@ingredient</span>
                                    }
                                }
                                @{
                                    if(recipe.IsCraftable())
                                    {
                                        <form method="post" asp-page-handler="craft" asp-route-name="@recipe.Name" asp-route-count="@recipe.Count">
                                        <!--Add a input field for each ingredient-->
                                            @{
                                                foreach(var ingredient in recipe.Ingredients)
                                                {
                                                    <input type="hidden" name="ingredient[]" value="@ingredient"/>
                                                }
                                            }
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="verify" placeholder="Verification Code">
                                                <button class="btn btn-cta" type="submit" value="Craft Recipe">Craft</button>
                                            </div>
                                        </form>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>   
            </div>
        </div>
    </div>
    <!--Parts Recipes-->

    <!--Materials-->
    <div class="row mt-1">
        <div class="col-xl col-md-12 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Materials
                </div>
                <div class="card-body">
                    @foreach(var material in Model.allMaterials)
                    {
                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/raw-materials.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@material.Name</h5>
                                    <p class="card-text">@material.MaterialType</p>
                                </div>
                            </div>
                            <div class="col-md-2 align-self-center counter">
                                <div class="">
                                    <h3>@material.Count</h3>
                                </div>
                            </div>
                            <form method="post" asp-page-handler="update">
                                <input class="form-controller" name="count" value="@material.Count" type="number" min="0" step="1"/>
                                <input type="hidden" name="name" value="@material.Name" />
                                <button class="btn btn-outline-primary" style="margin-top: 20px">Update</button>
                            </form>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--Materials-->
</div><!--Manufacturing Container-->
