@page
@model TheInventory.Pages.TicketModel
@{
    ViewData["Title"] = "Ticket";
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3">
      <img class="rounded-lg-3" src="images/ticket.png" alt="Tickets" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>

<div class="container">
        <div class="row mt-3">
            <div>
                <a class="btn btn-cta" asp-page="./NewTicket">New Ticket</a>
            </div>
             @foreach(var ticket in Model.allTickets)
            {
              <div class="col-sm-6 mt-2">
                <div class="card ">
                    <h6 class="card-header text-secondary">Ticket
                        <span class="badge rounded-pill bg-warning float-end">@ticket.Status</span>
                    </h6>
                  <div class="card-body">
                    <h5 class="card-title">@ticket.Title</h5>
                    <h6 class="card-title text-secondary">@ticket.Department</h6>
                    <p class="card-text text-truncate">@ticket.Description</p>
                    
                        <!--Delete Form Button-->
                        <form class="float-end mx-1" method="post" asp-page-handler="delete" asp-route-id="ticket.id">
                            <input class="btn-cta"type="hidden" name="id" value="@ticket.Id" />
                            <button class="btn btn-cta btn-sm" type="submit" value="Delete" placeholder="Delete">Delete</button>
                        </form> 
                        <button class="float-end btn btn-cta btn-sm mx-1" type="submit" value="View">View</button>
                        <button class="float-end btn btn-cta btn-sm mx-1" type="submit" value="Edit">Edit</button>
                  </div>
                </div>
              </div>
              }
        </div>
        
</div>

  
